@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	width: 320px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 20px;
}

.card img {
	width: 100%;
	padding: 16px;
	border-radius: 30px;
}

.card .text {
	text-align: center;
	padding: 30px;
	padding-top: 0;
}

.card .text h1 {
	font-size: 1.4rem;
	color: hsl(218, 44%, 22%);
}

.card .text p {
	color: hsl(220, 15%, 55%);
	margin-top: 15px;
}

@media (max-width: 375px) {

	.card {
		width: 85%;
	}
	
}


